<div class="reset-password-page">
  <div class="reset-password-page__header">
    <h1 class="reset-password-page__heading">{{ 'customer.password_reset.title' | t }}</h1>
    <span class="reset-password-page__subheading">{{ 'customer.password_reset.subtitle' | t: email: email }}</span>
  </div>

  {% form 'reset_customer_password', class: 'customer-reset-password' %}
    {{ form.errors | default_errors }}

    <div class="customer-password">
      <label class="customer-password__label" for="customer-password">{{ 'customer.password' | t }}</label>
      <input class="customer-password__input" id="customer-password" type="password" value="" name="customer[password]">
    </div>

    <div class="customer-password-confirmation">
      <label class="customer-password-confirmation__label" for="customer-password-confirmation">{{ 'customer.repeat_password' | t }}</label>
      <input class="customer-password-confirmation__input" id="customer-password-confirmation" type="password" value="" name="customer[password_confirmation]">
    </div>

    <button class="customer-reset-password__submit" type="submit">{{ 'customer.password_reset.submit' | t }}</button>
  {% endform %}
</div>