<script
  type="application/json"
  data-section-type="static-password"
  data-section-id="{{ section.id }}"
></script>

{% capture logo_styles %}
  --password-logo-width: {{ section.settings.logo_width | append: 'px' }};
  --password-logo-width-mobile: {{ section.settings.logo_width_mobile | append: 'px' }};
{% endcapture %}

<div class="password-page-header">
  <button class="password-page__open-modal-button" data-open-modal-button>
    {{ 'general.password_page.password_link' | t }} &rarr;
  </button>
</div>

<main id="main-content" role="main" class="password-page">
  <div class="main__wrapper">
    <div class="password-page-content">
      <div class="password-page-signup-form">
        <div class="password-page-form-header">
          <h1 class="password-page__logo" {% if section.settings.logo %}style="{{ logo_styles }}"{% endif %}>
            {% if section.settings.logo %}
                {%
                  render 'rimg',
                  img: section.settings.logo,
                  size: logo_width
                %}
              </a>
            {% else %}
              {{ shop.name }}
            {% endif %}
          </h1>
          <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
      
          {% unless shop.password_message == blank %}
            <p class="password-page-message">
              {{ shop.password_message }}
            </p>
          {% endunless %}
        </div>
        {% form 'customer', class: 'newsletter-signup' %}
          {% if section.settings.newsletter_text != blank %}
            <div class="form-title">{{ section.settings.newsletter_text }}</div>
          {% endif %}
      
          {% if form.posted_successfully? %}
            <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
          {% endif %}
      
          <div class="password-page-field-wrap">
            {{ form.errors | default_errors }}
            <input class="password-page-input" type="email" name="contact[email]" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
            <input class="submit" name="commit" type="submit" value="{{ 'general.password_page.signup_form_submit' | t }}">
            <input type="hidden" name="contact[tags]" value="prospect, password page">
          </div>
        {% endform %}
      </div>

      <div class="social-links">
        {% render 'social-links' %}
      </div>
    </div>
  </div>
</main>

<div class="password-page-footer" role="contentinfo">
  <p>
    {% capture year %}
      {{ "now" | date: "%Y" }}
    {% endcapture %}
    {% capture shopName %}
      {{ shop.name | link_to: routes.root_url }}.
    {% endcapture %}
    {% capture attribution %}{{ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName }} {{ powered_by_link }}{% endcapture %}
    {{ attribution }}
  </p>
</div>

{% schema %}
{
  "name": "Password pages",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo width",
      "min": 50,
      "max": 500,
      "step": 5,
      "unit": "px",
      "default": 180
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "Mobile logo width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 180
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter text",
      "default": "<p>Find out when we open</p>"
    }
  ]
}

{% endschema %}